body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container {
  padding-bottom: 40px;
}

.search-item,
#delete-history {
  cursor: pointer;
}

.search-item:hover {
  background-color: #f8f9fa;
}

@media (min-width: 1200px) {
  .five-day-card {
    max-width: 20%;
  }
}

@media (max-width: 1200px) {
  .five-day-card {
    min-width: 30%;
  }
}

@media (max-width: 992px) {
  .five-day-card {
    min-width: 40%;
  }
}

@media (max-width: 335px) {
  .five-day-card {
    min-width: 90%;
  }
}